:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #676767;
    --purple:#692079;
    --blue: #43bbe8;
    --green: #74a87e;
    --orange: #f16504;
    --red: #e20645;
    --pink: #d2749a;

    --box-shadow: 0 0 5px 0 rgba(170, 170, 170, 0.9);
}

html {
    text-align: center;
	background: linear-gradient(to top, AntiqueWhite, var(--white) 70%);
    font-family: Roboto;
}

.container {
    padding: 40px;
}

image.header-image {
    width: 100%;
}

.subheader {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: var(--purple);
    letter-spacing: 0.5em;
}

.content {
    width: 50%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.instruction {
    font-style: italic;
    color: var(--gray);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > p {
        display: flex;
        margin: 0 0 4px 0;
    }
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar > * {
    display: flex;
}

.canvas-size-picker {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    & > form {
        display: flex;
    }
}

.color-picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tool-header {
    margin: 0 2rem 0 0;
}

button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
        opacity: 0.8;
        box-shadow: var(--box-shadow);
    }

    &.create {
        background-color: var(--blue);
    }
    &.color-all {
        background-color: var(--green);
    }
    &.clear-all {
        background-color: var(--orange);
    }
    &.delete-canvas {
        background-color: var(--red);
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.info {
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.instruction {
    display: none;
    position: absolute;
    top: -120px;
    left: -530px;
    width: 500px;
    height: 90px;
    background-color: var(--white) ;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

table,
tr,
td {
    border: 1px solid var(--black);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;

}

