:root {
    --white: #ffffff;
    --black: #171717;
    --gray: #676767;
    --light-gray: #a1a1a1;
    --purple:#692079;
    --blue: #43bbe8;
    --green: #74a87e;
    --orange: #f16504;
    --red: #e20645;
    --pink: #d2749a;

    --box-shadow: 0 0 5px 0 rgba(170, 170, 170, 0.9);
}

html {
    text-align: center;
	background: linear-gradient(to top, AntiqueWhite, var(--white) 70%);
    font-family: Roboto;
    color: var(--black);
}

.container {
    padding: 40px;
}

image.header-image {
    width: 100%;
}

.subheader {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: var(--purple);
    letter-spacing: 0.5em;
}

.content {
    width: 650px;
    margin: 8rem auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar > * {
    display: flex;
}

h3 {
    margin: 0;
}

.canvas-size-picker {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 1.3rem;

    & > form {
        display: flex;
        align-items: baseline;
        margin: 0;
    }

    .input {
        margin-left: 1.3rem;
    }

    input[type=number] {
        border: 1px solid var(--green);
        border-radius: 4px;
        max-height: 30px;
        opacity: 0.8;
        position: relative;
        margin-left: 0.5rem;
        padding: 0.5rem;
      }

    input[type=number]:focus {
        opacity: 1;
        border: 2px solid var(--green);
        outline: none;
    }

    input[type=number]:focus-visible {
        opacity: 1 !important;
        border: 2px solid var(--green) !important;
        outline: none;
    }

    input:focus-visible {
        outline-offset: none;
    }
}

.color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 1rem auto 1.3rem;

    #color-picker{
        margin-left: 1.3rem;
        cursor: pointer;
    }

    input[type=color] {
        border: 1px solid var(--green);
        border-radius: 4px;
        max-height: 30px;
    }
}

button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
    font-size: 1rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        color: var(--gray);
        background-color: var(--light-gray) !important;

        &:hover {
            opacity: 0.5;
            box-shadow: none !important;
        }
    }

    & i {
        margin-right: 0.5rem;
    }

    &:hover {
        opacity: 0.8;
        box-shadow: var(--box-shadow);
    }

    &.create {
        background-color: var(--blue);
        margin: 0 0 0 1.3rem;
    }
    &.color-all {
        background-color: var(--green);
    }
    &.clear-all {
        background-color: var(--orange);
    }
    &.delete-canvas {
        background-color: var(--red);
        width: 180px;
    }
    &.download-canvas {
        background-color: var(--purple);
    }
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0 1.3rem;
}

.info {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    align-self: flex-end;

    & .svg-inline--fa {
        color: var(--green);
    }
}

.instruction {
    font-style: italic;
    color: var(--gray);
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    position: absolute;
    top: -126px;
    left: -530px;
    width: 500px;
    height: 114px;
    background-color: var(--white) ;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-shadow: var(--box-shadow);

    & > p {
        display: flex;
        margin: 0 0 4px 0;
    }
}

.canvas {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table,
tr,
td {
    border: 1px solid var(--black);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;

}

.alert-message {
    width: 500px;
    height: 1.8rem;
    padding: 1.3rem;
    position: absolute;
    top: 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 4px;
}

