html {
    text-align: center;
	background: linear-gradient(to top, AntiqueWhite, white 70%);
    font-family: Roboto;
}

.container {
    padding: 40px;
}

image.header-image {
    width: 100%;
}

.subheader {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #692079;
    letter-spacing: 0.5em;
}

.content {
    width: 80%;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.instruction {
    font-style: italic;
    color: #676767;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > p {
        display: flex;
        margin: 0 0 4px 0;
    }
}

.toolbar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.toolbar > * {
    display: flex;
}

.canvas-size-picker {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    & > form {
        display: flex;
    }
}

.color-picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tool-header {
    margin: 0 2rem 0 0;
}

button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
        opacity: 0.8;
        box-shadow: 0 0 5px 0 rgba(170, 170, 170, 0.9);
    }

    &.create {
        background-color: #43bbe8;
    }
    &.color-all {
        background-color: #74a87e;
    }
    &.clear-all {
        background-color: #f16504;
    }
    &.delete-canvas {
        background-color: #e20645;
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;

}

